body {
    margin: 0px;
    padding: 0px; 
    height: auto;  
}

/* Fonts */
@font-face {
    font-family: 'arkhipregular';
    src: url('arkhip_font-webfont.woff2') format('woff2'),
         url('arkhip_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'axiformabold';
    src: url('axiforma-bold-webfont.woff2') format('woff2'),
         url('axiforma-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'axiformabook';
    src: url('axiforma-book-webfont.woff2') format('woff2'),
         url('axiforma-book-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'axiformalight_italic';
    src: url('axiforma-lightitalic-webfont.woff2') format('woff2'),
         url('axiforma-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'axiformamedium';
    src: url('axiforma-medium-webfont.woff2') format('woff2'),
         url('axiforma-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Header */

header {
    background-color: rgba(255, 255, 255, 0.98);
    background-size: cover;
    box-shadow: 10px 1px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    z-index: 100;
    margin: 0;
}

.inline-block {
    box-sizing: content-box;
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    margin: 0;
    padding-left: 320px;
}

.inline-block a {
    display: flex;
    text-decoration: none;
    color: #262626;
    font-family: 'arkhipregular' sans-serif;
    font-weight: lighter;
    text-decoration: none;
    font-size: 15.25px;
    letter-spacing: -0.05px;
    margin: 0;
    transition-duration: 0.7s;
}

.topLink:hover {
    color: #A8AD00;
    transition-duration: 0.3s; 
    }

.logo {
    padding: 30px 50px;
    width: 70%;
    margin: 0;
}

.logo img {
    max-width: 12.17%; 
    height:auto;
    margin: 0;
}

.inline-block ul {
    display: inline-block;
    font-family: 'arkhipregular';
    font-weight: lighter;
    letter-spacing: 0.1px;
    font-size: 13px;  
    margin: 0;   
}

.topLink {
    padding: 2.5px;
    margin: 0;
}

.stroke {
    margin-top: 2.2px;
    font-family: 'arkhipregular';
    font-weight: lighter;
}

.selected {
    color: #A8AD00;
}

/* Hero */

.heroBg {
    background-image: url("../images/logo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    background-position-y: -100px;
    height: 1175px;
    z-index: -500;
}

.titleSpace { 
    text-align:center; 
    padding:295px;
    padding-bottom: 70px;
    max-width: 100%;
    height: auto;
    margin: 0;
} 

.spacer {
    display: inline-block;
    height: 100px;
}


/* Left Cards */

.ltCard {
    background-color: rgba(102,98,1, 0.05);
    height: 750px;
    margin-top: -20px;
    margin-left: -15px;
    padding-bottom: 50px;
    padding-left: 0;
    
}

.ltcard-img-top {
    width: 55%;
    margin-top: -35px;
    background-color: white;
    padding: 25px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
}

.lt-card-title {
    font-family: 'axiformabold', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    text-align: left;
    letter-spacing: 0.5px;
    color: #666301;
    margin-top: -5px;
    margin-bottom: 15px;
    margin-left: 270px;
}

.lt-card-text {
    font-family: 'axiformalight_italic', sans-serif;
    font-weight: lighter;
    text-align: left;
    letter-spacing: 0.1px;
    color: #6b6b66;
    font-size: 10px;
    margin-top: -10px;
    margin-left: 270px;
}

.leftCard {
    background-color: rgba(102,98,1, 0.05);
    height: 770px;
    margin-top: -20px;
    margin-left: 0px;
    padding-bottom: 50px;
    padding-left: 0;
}


/* Right Cards */

.rtCard {
    background-color: rgba(102,98,1, 0.05);
    height: 750px;
    margin-top: -20px;
    margin-left: 0px;
    padding-bottom: 50px;
    padding-left: 0;
    
}

.rtcard-img-top {
    width: 55.75%;
    margin-top: -35px;
    background-color: white;
    padding: 25px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
}

.rt-img-top {
    width: 61.5%;
    margin-top: -35px;
    background-color: white;
    padding: 25px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
}

.rt-card-title {
    font-family: 'axiformabold', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #666301;
    margin-top: -25px;
    margin-bottom: 15px;
    margin-left: 245px;
}

.rt-card-text {
    font-family: 'axiformalight_italic', sans-serif;
    font-weight: lighter;
    text-align: left;
    letter-spacing: 0.1px;
    color: #6b6b66;
    font-size: 10px;
    margin-top: -10px;
    margin-left: 245px;
}

.rightCard {
    background-color: rgba(102,98,1, 0.05);
    height: 770px;
    margin-top: -20px;
    margin-left: 0px;
    padding-bottom: 50px;
    padding-left: 0;
}

.right-img-top {
    width: 58%;
    margin-top: -35px;
    background-color: white;
    padding: 25px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
}

.right-card-title {
    font-family: 'axiformabold', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #666301;
    margin-top: -25px;
    margin-bottom: 15px;
    margin-left: 230px;
}

.right-card-text {
    font-family: 'axiformalight_italic', sans-serif;
    font-weight: lighter;
    text-align: left;
    letter-spacing: 0.1px;
    color: #6b6b66;
    font-size: 10px;
    margin-top: -10px;
    margin-left: 230px;
}


/* Footer */

footer {
    background-color: #4E313F;
    height: 350px;
    background-size: cover;
    width: 100%;
    position: static;
}

.footerLogo {
    padding-left: 55px;
    padding-top: 95px;
    padding-right: 0;
    float: left;
}

.footerLogo img {
    height: 140px;
}

.connect {
    box-sizing: content-box;
    display: inline-block;
    font-family: 'axiformamedium';
    text-align: center;
    color: #dddddd;
    vertical-align: middle;
    padding-top: 111px;
    padding-left: 1700px;
    padding-right: 25px;  
    float: left;  
  }

  .contact img {
    box-sizing: content-box;
    height: 25px;
    padding-top: 125px;
    padding-bottom: 25px;
    padding-right: 25px;
}

  .copyright  {
    box-sizing:content-box;
    color: #DDDDDD;
    font-family: 'axiformabook';
    font-size: 11px;
    padding-left: 2180px;
    margin-top: 10px;
    width: 310px;
    text-align: right;
}

.footerEmail img {
    opacity: 0.7;
}

.footerEmail img:hover {
    opacity: 1;
}

 .footerLinked img {
    opacity: 0.7;
}

.footerLinked img:hover {
    opacity: 1;
}

 .footerResume img {
    opacity: 0.7;
}

.footerResume img:hover {
    opacity: 1;
}



/* Media Queries */

/* 1920 */

@media only screen and (max-width: 1920px) {
    /* Header */

header {
    background-color: rgba(255, 255, 255, 0.98);
    background-size: cover;
    box-shadow: 10px 1px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    z-index: 100;
    margin: 0;
}

.inline-block {
    box-sizing: content-box;
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    margin: 0;
    padding-left: 120px;
}

.inline-block a {
    display: flex;
    text-decoration: none;
    color: #262626;
    font-family: 'arkhipregular' sans-serif;
    font-weight: lighter;
    text-decoration: none;
    font-size: 15.25px;
    letter-spacing: -0.05px;
    margin: 0;
    transition-duration: 0.7s;
}

.topLink:hover {
    color: #A8AD00;
    transition-duration: 0.3s; 
    }

.logo {
    padding: 30px 50px;
    width: 70%;
    margin: 0;
}

.logo img {
    max-width: 12.17%; 
    height:auto;
    margin: 0;
}

.inline-block ul {
    display: inline-block;
    font-family: 'arkhipregular';
    font-weight: lighter;
    letter-spacing: 0.1px;
    font-size: 13px;  
    margin: 0;   
}

.topLink {
    padding: 2.5px;
    margin: 0;
}

.stroke {
    margin-top: 2.2px;
    font-family: 'arkhipregular';
    font-weight: lighter;
}

.selected {
    color: #A8AD00;
}

/* Hero */

.heroBg {
    background-image: url("../images/logo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    background-position-y: 65px;
    height: 1080px;
    z-index: -500;
}

.titleSpace { 
    text-align:center; 
    padding:295px;
    padding-bottom: 70px;
    max-width: 100%;
    height: auto;
    margin: 0;
} 

.spacer {
    display: inline-block;
    height: 100px;
}


/* Left Cards */

.ltCard {
    background-color: rgba(102,98,1, 0.05);
    height: 600px;
    margin-top: -20px;
    margin-left: -15px;
    padding-bottom: 50px;
    padding-left: 0;
    
}

.ltcard-img-top {
    width: 60%;
    margin-top: -35px;
    background-color: white;
    padding: 25px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
}

.lt-card-title {
    font-family: 'axiformabold', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    text-align: left;
    letter-spacing: 0.5px;
    color: #666301;
    margin-top: -10px;
    margin-bottom: 15px;
    margin-left: 175px;
}

.lt-card-text {
    font-family: 'axiformalight_italic', sans-serif;
    font-weight: lighter;
    text-align: left;
    letter-spacing: 0.1px;
    color: #6b6b66;
    font-size: 10px;
    margin-top: -10px;
    margin-left: 175px;
}

.leftCard {
    background-color: rgba(102,98,1, 0.05);
    height: 625px;
    margin-top: -20px;
    margin-left: 0px;
    padding-bottom: 50px;
    padding-left: 0;
}


/* Right Cards */

.rtCard {
    background-color: rgba(102,98,1, 0.05);
    height: 600px;
    margin-top: -20px;
    margin-left: 0px;
    padding-bottom: 50px;
    padding-left: 0;
    
}

.rtcard-img-top {
    width: 61%;
    margin-top: -35px;
    background-color: white;
    padding: 25px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
}

.rt-img-top {
    width: 64.5%;
    margin-top: -35px;
    background-color: white;
    padding: 25px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
}

.rt-card-title {
    font-family: 'axiformabold', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #666301;
    margin-top: -30px;
    margin-bottom: 15px;
    margin-left: 150px;
}

.rt-card-text {
    font-family: 'axiformalight_italic', sans-serif;
    font-weight: lighter;
    text-align: left;
    letter-spacing: 0.1px;
    color: #6b6b66;
    font-size: 10px;
    margin-top: -10px;
    margin-left: 150px;
}

.rightCard {
    background-color: rgba(102,98,1, 0.05);
    height: 625px;
    margin-top: -20px;
    margin-left: 0px;
    padding-bottom: 50px;
    padding-left: 0;
}

.right-img-top {
    width: 63.6%;
    margin-top: -35px;
    background-color: white;
    padding: 25px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
}

.right-card-title {
    font-family: 'axiformabold', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #666301;
    margin-top: -30px;
    margin-bottom: 15px;
    margin-left: 135px;
}

.right-card-text {
    font-family: 'axiformalight_italic', sans-serif;
    font-weight: lighter;
    text-align: left;
    letter-spacing: 0.1px;
    color: #6b6b66;
    font-size: 10px;
    margin-top: -10px;
    margin-left: 135px;
}


/* Footer */

footer {
    background-color: #4E313F;
    height: 350px;
    background-size: cover;
    width: 100%;
    position: static;
}

.footerLogo {
    padding-left: 55px;
    padding-top: 95px;
    padding-right: 0;
    float: left;
}

.footerLogo img {
    height: 140px;
}

.connect {
    display: inline-block;
    font-family: 'axiformamedium';
    text-align: center;
    color: #dddddd;
    vertical-align: middle;
    padding-top: 111px;
    padding-left: 1055px;
    padding-right: 25px;  
    float: left;  
  }

  .contact img {
    height: 25px;
    padding-top: 125px;
    padding-bottom: 25px;
    padding-right: 25px;
}

  .copyright  {
    color: #DDDDDD;
    font-family: 'axiformabook';
    font-size: 11px;
    padding-left: 1530px;
    width: 310px;
    text-align: right;
}

.footerEmail img {
    opacity: 0.7;
}

.footerEmail img:hover {
    opacity: 1;
}

 .footerLinked img {
    opacity: 0.7;
}

.footerLinked img:hover {
    opacity: 1;
}

 .footerResume img {
    opacity: 0.7;
}

.footerResume img:hover {
    opacity: 1;
}

}    


/* 1680 */

@media only screen and (max-width: 1680px) {

    /* Header */
    
    .inline-block {
        display: inline-block;
        vertical-align: middle;
        background-size: cover;
        margin: 0;
        padding-left: 60px;
    }
    
    .logo {
        padding: 30px 50px;
        width: 70%;
        margin: 0;
    }

    .heroBg {
        background-image: url("../images/logo.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: 100%;
        background-position-y: 0px;
        height: 770px;
        z-index: -500;
    }    

    /* Left Cards */

    .lt-card-title {
        margin-left: 150px;
    }

    .lt-card-text {
        margin-left: 150px;
    }

/* Right Cards */

    .rt-card-title {
        margin-left: 125px;
    }

    .rt-card-text {
        margin-left: 125px;
    }


    .right-card-title {
        margin-left: 115px;
    }

    .right-card-text {
        margin-left: 115px;
    }

    /* Footer */
    
    .connect {
        padding-left: 820px;
    }

    .copyright  {
        padding-left: 1300px;
        width: 310px;
    } 
}    

/* 1600 */

@media only screen and (max-width: 1600px) {

    /* Header */
            
        .inline-block {
            display: inline-block;
         vertical-align: middle;
         background-size: cover;
         margin: 0;
         padding-left: 60px;
        }
         
     .logo {
         padding: 30px 50px;
         width: 70%;
         margin: 0;
        }

    /* Left Cards */

    .lt-card-title {
        margin-left: 140px;
    }

    .lt-card-text {
        margin-left: 140px;
    }

/* Right Cards */

    .rt-card-title {
        margin-left: 115px;
    }

    .rt-card-text {
        margin-left: 115px;
    }


    .right-card-title {
        margin-left: 105px;
    }

    .right-card-text {
        margin-left: 105px;
    }

    /* Footer */
        
    .connect {
        padding-left: 770px;
    }
        
    .copyright  {
        padding-left: 1250px;
        width: 310px;
    }    

}    

/* 1440 */

@media only screen and (max-width: 1440px) {

 /* Header */

 .inline-block {
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    margin: 0;
    padding-left: 0px;
}

.logo {
    padding: 30px 50px;
    width: 70%;
    margin: 0;
}

    .heroBg {
        background-image: url("../images/logo.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: 100%;
        background-position-y: 35px;
        height: 770px;
        z-index: -500;
    }    

/* Left Cards */

    .ltCard {
        height: 450px;    
    }

    .ltcard-img-top {
        width: 60%;
    }

    .lt-card-title {
        margin-left: 125px;
    }

    .lt-card-text {
        margin-left: 125px;
    }

    .leftCard {
        height: 475px;
    }

/* Right Cards */

    .rtCard {
        height: 450px;
    }

    .rtcard-img-top {
        width: 61%;
    }

    .rt-img-top {
        width: 64.5%;
    }

    .rt-card-title {
        margin-left: 100px;
    }

    .rt-card-text {
        margin-left: 100px;
    }

    .rightCard {
        height: 475px;
    }

    .right-img-top {
        width: 63.6%;
    }

    .right-card-title {
        margin-left: 90px;
    }

    .right-card-text {
        margin-left: 90px;
    }

/* Footer */
    
.connect {
    padding-left: 600px;
}

 .copyright  {
    padding-left: 1080px;
    width: 310px;
}

/* 1366 */

@media only screen and (max-width: 1366px) {

/* Hero */    
            
    .hero {
        background-position-y: 120px;
        height: 835px;
    }  
        
/* Left Cards */

.lt-card-title {
    margin-left: 120px;
}

.lt-card-text {
    margin-left: 120px;
}

/* Right Cards */

.rt-card-title {
    margin-left: 95px;
}

.rt-card-text {
    margin-left: 95px;
}


.right-card-title {
    margin-left: 85px;
}

.right-card-text {
    margin-left: 85px;
}

/* Footer */
            
    .connect {
        padding-left: 550px;
    }
            
    .copyright  {
        padding-left: 1030px;
        width: 310px;
    }
            
}
            
/* 1280 */
@media only screen and (max-width: 1280px) {
        
/* Header */
                
                
.logo {
    padding: 30px 60px;
    padding-bottom: 10px;
    margin-right: -70px;
}

           
    .heroBg {
        background-position-y: 50px;
        height: 800px;
        z-index: -500;
    }   
        
/* Left Cards */

.lt-card-title {
    margin-left: 110px;
}

.lt-card-text {
    margin-left: 110px;
}

/* Right Cards */

.rt-card-title {
    margin-left: 85px;
}

.rt-card-text {
    margin-left: 85px;
}


.right-card-title {
    margin-left: 75px;
}

.right-card-text {
    margin-left: 75px;
}

/* Footer */
                
    .connect {
        padding-left: 450px;
        }
                
    .copyright  {
        padding-left: 930px;
        width: 310px;
        }
        
}

/* 1112 */
@media only screen and (max-width: 1112px) {

    /* Header */
                    
        .inline-block {
            padding-left: 0px;
        }
                    
        .logo {
            padding: 20px 60px;
            padding-bottom: 10px;
            margin-right: -110px;
        }
                    
        .logo img {
            margin-left: -30px;
        }

        /* Hero */    
    
        .heroBg {
            background-position-y: 50px;
            height: 675px;
            z-index: -500;
        }   

    /* Left Cards */

.ltCard {
    height: 350px;    
}
 
.lt-card-title {
    margin-left: 110px;
}

.lt-card-text {
    margin-left: 110px;
}

.leftCard {
    height: 375px;
}

/* Right Cards */

.rtCard {
    height: 350px;
}

.rt-card-title {
    margin-left: 85px;
}

.rt-card-text {
    margin-left: 85px;
}

.rightCard {
    height: 375px;
}

.right-card-title {
    margin-left: 75px;
}

.right-card-text {
    margin-left: 75px;
}

    /* Footer */
            
    .connect {
        padding-left: 280px;
    }
            
    .copyright  {
        padding-left: 758px;
        width: 310px;
        } 
        
    }

/* 1024*/

@media only screen and (max-width: 1024px) {

 /* Header */

 .inline-block {
    padding-left: 0px;
    margin-left: -10px;
}

.logo {
    padding: 20px 60px;
    padding-bottom: 10px;
}

/* Hero */

.heroBg {
    background-position-y: 30px;
    height: 620px;
    z-index: -500;
}

/* Left Cards */

    .ltCard {
        height: 335px;    
    }

    .ltcard-img-top {
        width: 60%;
    }

    .lt-card-title {
        margin-left: 85px;
    }

    .lt-card-text {
        margin-left: 85px;
    }

    .leftCard {
        height: 345px;
    }

/* Right Cards */

    .rtCard {
        height: 335px;
    }

    .rtcard-img-top {
        width: 61%;
    }

    .rt-img-top {
        width: 64.5%;
    }

    .rt-card-title {
        margin-left: 60px;
    }

    .rt-card-text {
        margin-left: 60px;
    }

    .rightCard {
        height: 345px;
    }

    .right-img-top {
        width: 63.6%;
    }

    .right-card-title {
        margin-left: 55px;
    }

    .right-card-text {
        margin-left: 55px;
    }

/* Footer */
    
.footerLogo {
    padding-left: 20px;
    padding-top: 50px;
    float: left;
}

.footerLogo img {
    height: 150px;
    padding-left: 40px;
}

.connect {
    padding-top: 80px;
    padding-left: 130px;
    padding-right: 150px;
    margin-right: -120px;
}

  .contact img {
    padding-top: 95px;
}

  .copyright  {
    padding-left: 340px;
    padding-top: 75px;
}
}

/* 900 */

@media only screen and (max-width: 900px) {

    /* Header */
        
        .inline-block {
            padding-left: 0px;
            margin-left: -35px;
        }
        
        .logo {
            padding: 20px 60px;
            padding-bottom: 10px;
            margin-left: -15px;
        }

        /* Hero */    
       
        .heroBg {
            background-position-y: 30px;
            height: 570px;
            z-index: -500;
        }


    /* Left Cards */

    .ltCard {
        height: 300px;    
    }
    .lt-card-title {
        margin-left: 75px;
    }

    .lt-card-text {
        margin-left: 75px;
    }

    .leftCard {
        height: 305px;
    }
/* Right Cards */

    .rtCard {
        height: 300px;
    }

    .rt-card-title {
        margin-left: 50px;
    }

    .rt-card-text {
        margin-left: 50px;
    }

    .rightCard {
        height: 305px;
    }
    .right-card-title {
        margin-left: 45px;
    }

    .right-card-text {
        margin-left: 45px;
    }

    /* Footer */

    .footerLogo {
        padding-left: 250px;
        padding-top: 35px;
        padding-right: 0;
        float: none;
    }

    .footerLogo img {
        height: 100px;
    }

    .connect {
        padding-top: 10px;
        margin-left: 195px;
        padding-left: 80px;
    }

    .contact img {
        padding-top: 35px;
    }

    .copyright  {
        padding-left: 270px;
        padding-top: 35px;
    }   

    }

/* 850 */

@media only screen and (max-width: 850px) {
    
    
    .inline-block {
        margin-left: -70px;
    }

    .logo {
        padding: 20px 70px;
        margin-left: -20px;
    }    

        /* Hero */    
       
        .heroBg {
            background-position-y: 30px;
            height: 520px;
            z-index: -500;
        }


    /* Left Cards */

    .ltCard {
        height: 280px;    
    }
    .lt-card-title {
        margin-left: 65px;
    }

    .lt-card-text {
        margin-left: 65px;
    }

    .leftCard {
        height: 285px;
    }
/* Right Cards */

    .rtCard {
        height: 280px;
    }

    .rt-card-title {
        margin-left: 40px;
    }

    .rt-card-text {
        margin-left: 40px;
    }

    .rightCard {
        height: 285px;
    }
    .right-card-title {
        margin-left: 35px;
    }

    .right-card-text {
        margin-left: 35px;
    }
    
/* Footer */

    .footerLogo {
        padding-left: 210px;
        padding-top: 35px;
        padding-right: 0;
        float: none;
    }

    .footerLogo img {
        height: 100px;
    }

    .connect {
        padding-top: 10px;
        margin-left: 165px;
        padding-left: 80px;
    }

    .contact img {
        padding-top: 35px;
    }

    .copyright  {
        padding-left: 230px;
        padding-top: 35px;
    }
}

/* 837 */

@media only screen and (max-width: 837px) {
    
/* Header */

    .inline-block {
        margin-left: -70px;
    }

    .logo {
        padding: 20px 70px;
        margin-left: -20px;

    }

            /* Hero */    
       
            .heroBg {
                background-position-y: 30px;
                height: 520px;
                z-index: -500;
            }
    
    
        /* Left Cards */
    
        .ltCard {
            height: 280px;    
        }
        .lt-card-title {
            margin-left: 65px;
        }
    
        .lt-card-text {
            margin-left: 65px;
        }
    
        .leftCard {
            height: 280px;
        }
    /* Right Cards */
    
        .rtCard {
            height: 280px;
        }
    
        .rt-card-title {
            margin-left: 40px;
        }
    
        .rt-card-text {
            margin-left: 40px;
        }
    
        .rightCard {
            height: 280px;
        }
        .right-card-title {
            margin-left: 35px;
        }
    
        .right-card-text {
            margin-left: 35px;
        }
}

/* 812 */

@media only screen and (max-width: 812px) {
    
    
    .inline-block {
        margin-left: -80px;
    }

    .logo {
        padding: 20px 70px;
        margin-left: -20px;

    }

            /* Hero */    
       
            .heroBg {
                background-position-y: 30px;
                height: 380px;
                z-index: -500;
            }
    
    
        /* Left Cards */
    
        .ltCard {
            height: 335px;    
        }
        .lt-card-title {
            margin-left: 85px;
        }
    
        .lt-card-text {
            margin-left: 85px;
        }
    
        .leftCard {
            height: 345px;
        }
    /* Right Cards */
    
        .rtCard {
            height: 335px;
        }
    
        .rt-card-title {
            margin-left: 60px;
        }
    
        .rt-card-text {
            margin-left: 60px;
        }
    
        .rightCard {
            height: 345px;
        }
        .right-card-title {
            margin-left: 55px;
        }
    
        .right-card-text {
            margin-left: 55px;
        }

/* Footer */

    .footerLogo {
        padding-left: 210px;
        padding-top: 35px;
        padding-right: 0;
        float: none;
    }

    .footerLogo img {
        height: 100px;
    }

    .connect {
        padding-top: 10px;
        margin-left: 165px;
        padding-left: 80px;
    }

    .contact img {
        padding-top: 35px;
    }

    .copyright  {
        padding-left: 230px;
        padding-top: 35px;
    }

    

}    

/* 800 */

@media only screen and (max-width: 800px) {
    
    
    .inline-block {
        margin-left: -80px;
    }

    .logo {
        padding: 20px 70px;
        margin-left: -20px;

    }

            /* Hero */    
       
            .heroBg {
                background-position-y: 30px;
                height: 480px;
                z-index: -500;
            }
    
    
        /* Left Cards */
    
        .ltCard {
            height: 265px;    
        }
        .lt-card-title {
            margin-left: 60px;
        }
    
        .lt-card-text {
            margin-left: 60px;
        }
    
        .leftCard {
            height: 265px;
        }
    /* Right Cards */
    
        .rtCard {
            height: 265px;
        }
    
        .rt-card-title {
            margin-left: 35px;
        }
    
        .rt-card-text {
            margin-left: 35px;
        }
    
        .rightCard {
            height: 265px;
        }
        .right-card-title {
            margin-left: 30px;
        }
    
        .right-card-text {
            margin-left: 30px;
        }

/* Footer */

    .footerLogo {
        padding-left: 210px;
        padding-top: 35px;
        padding-right: 0;
        float: none;
    }

    .footerLogo img {
        height: 100px;
    }

    .connect {
        padding-top: 10px;
        margin-left: 165px;
        padding-left: 80px;
    }

    .contact img {
        padding-top: 35px;
    }

    .copyright  {
        padding-left: 230px;
        padding-top: 35px;
    }

}   

/* 768 */

@media only screen and (max-width: 768px) {
    
    
   /* Header */
               
   .inline-block {
    padding-left: 60px;
}

.inline-block a {
    font-size: 13px;
}

.logo {
    padding: 20px 60px;
    margin-left: -50px;
}

.logo img {
    margin-left: 20px;
}
   
    
/* Hero */

.heroBg {
    background-position-y: 30px;
    height: 475px;
}

/* Left Cards */

    .ltCard {
        height: 265px;    
    }

    .ltcard-img-top {
        width: 60%;
    }

    .lt-card-title {
        margin-left: 60px;
    }

    .lt-card-text {
        margin-left: 60px;
    }

    .leftCard {
        height: 270px;
    }

/* Right Cards */

    .rtCard {
        height: 265px;
    }

    .rtcard-img-top {
        width: 61%;
    }

    .rt-img-top {
        width: 64.5%;
    }

    .rt-card-title {
        margin-left: 35px;
    }

    .rt-card-text {
        margin-left: 35px;
    }

    .rightCard {
        height: 270px;
    }

    .right-img-top {
        width: 63.6%;
    }

    .right-card-title {
        margin-left: 30px;
    }

    .right-card-text {
        margin-left: 30px;
    }
    
/* Footer */
    
    footer {
        background-color: #4E313F;
        height: 350px;
        background-size: cover;
        width: 100%;
        position: static;
    }
    
    .footerLogo {
        padding-left: 190px;
        padding-top: 35px;
        padding-right: 0;
        float: none;
    }
    
    .footerLogo img {
        height: 100px;
    }
    
    .connect {
        padding-top: 10px;
        margin-left: 165px;
        padding-left: 50px;
    }

      .contact img {
        padding-top: 25px;
    }
    
    .copyright  {
        padding-left: 200px;
        padding-top: 35px;
    }
}

/* 736 */

@media only screen and (max-width: 736px) {
    
    
    .inline-block {
        padding-left: 50px;
    }
    
    .inline-block a {
        font-size: 13px;
    }
    
    .logo {
        padding: 20px 60px;
        margin-left: -50px;
    }
    
    .logo img {
        margin-left: 20px;
    }

/* Left Cards */

.ltCard {
    height: 400px; 
    margin-top: -55px;  
}

.ltcard-img-top {
    width: 50%;
}

.lt-card-title {
    margin-left: 0px;
    text-align: center;
}

.lt-card-text {
    margin-left: 0px;
    text-align: center;
}

.leftCard {
    height: 415px;
    margin-top: -55px;
}

/* Right Cards */

.rtCard {
    height: 400px;
    margin-top: 50px;
}

.rtcard-img-top {
    width: 50%;
    margin-left: -20px;
}

.rt-img-top {
    width: 64.5%;
}

.rt-card-title {
    margin-left: -15px;
    text-align: center;
}

.rt-card-text {
    margin-left: -15px;
    text-align: center;
}

.rightCard {
    height: 395px;
    margin-top: 50px;
}

.right-img-top {
    width: 50%;
}

.right-card-title {
    margin-left: 0px;
    text-align: center;
}

.right-card-text {
    margin-left: 0px;
    text-align: center;
}

    /* Footer */
    
    footer {
        background-color: #4E313F;
        height: 350px;
        background-size: cover;
        width: 100%;
        position: static;
    }

    .footerLogo {
        padding-left: 190px;
        padding-top: 35px;
        padding-right: 0;
        float: none;
    }

    .footerLogo img {
        height: 100px;
    }

    .connect {
        padding-top: 10px;
        margin-left: 165px;
        padding-left: 50px;
    }

    .contact img {
        padding-top: 35px;
    }

    .copyright  {
        padding-left: 200px;
        padding-top: 35px;
    }
}

/* 667 */

@media only screen and (max-width: 667px) {
    
    
    .inline-block {
        padding-left: 30px;
    }
    
    .inline-block a {
        font-size: 13px;
    }
    
    .logo {
        padding: 20px 60px;
        margin-left: -50px;
    }
    
    .logo img {
        margin-left: 20px;
    }

/* Hero */

.heroBg {
    background-position-y: 30px;
    height: 425px;
}     

/* Footer */
    
    footer {
        background-color: #4E313F;
        height: 350px;
        background-size: cover;
        width: 100%;
        position: static;
    }
    
    .footerLogo {
        padding-left: 140px;
        padding-top: 35px;
        padding-right: 0;
        float: none;
    }
    
    .footerLogo img {
        height: 100px;
    }
    
    .connect {
        padding-top: 10px;
        margin-left: 120px;
        padding-left: 50px;
    }

      .contact img {
        padding-top: 35px;
    }
    
    .copyright  {
        padding-left: 150px;
        padding-top: 35px;
    } 

}

/* 600 */

@media only screen and (max-width: 600px) {
    
   /* Header */    

.inline-block {
    padding-left: 20px;
}

.inline-block a {
    font-size: 12px;
}

.logo {
    padding: 20px 60px;
    margin-left: -50px;
}

.logo img {
    margin-left: 10px;
}
    
/* Hero */

.heroBg {
    background-position-y: 30px;
    height: 400px;
}

/* Left Cards */

    .ltCard {
        height: 325px; 
        margin-top: -55px;  
    }

    .ltcard-img-top {
        width: 50%;
    }

    .lt-card-title {
        margin-left: 0px;
        text-align: center;
    }

    .lt-card-text {
        margin-left: 0px;
        text-align: center;
    }

    .leftCard {
        height: 335px;
        margin-top: -55px;
    }

/* Right Cards */

    .rtCard {
        height: 320px;
        margin-top: 50px;
    }

    .rtcard-img-top {
        width: 50%;
        margin-left: -20px;
    }

    .rt-img-top {
        width: 64.5%;
    }

    .rt-card-title {
        margin-left: -15px;
        text-align: center;
    }

    .rt-card-text {
        margin-left: -15px;
        text-align: center;
    }

    .rightCard {
        height: 315px;
        margin-top: 50px;
    }

    .right-img-top {
        width: 50%;
    }

    .right-card-title {
        margin-left: 0px;
        text-align: center;
    }

    .right-card-text {
        margin-left: 0px;
        text-align: center;
    }
    
/* Footer */
    
    footer {
        background-color: #4E313F;
        height: 350px;
        background-size: cover;
        width: 100%;
        position: static;
    }
    
    .footerLogo {
        padding-left: 107px;
        padding-top: 35px;
        padding-right: 0;
        float: none;
    }
    
    .footerLogo img {
        height: 100px;
    }
    
    .connect {
        padding-top: 10px;
        margin-left: 85px;
        padding-left: 50px;
    }

      .contact img {
        padding-top: 25px;
    }
    
    .copyright  {
        padding-left: 120px;
        padding-top: 35px;
    }
}

/* 568 */

@media only screen and (max-width: 568px) {
    .inline-block {
        padding-left: 20px;
    }
    
    .inline-block a {
        font-size: 12px;
    }
    
    .logo {
        padding: 20px 60px;
        margin-left: -50px;
    }
    
    .logo img {
        margin-left: 10px;
    }

/* 414 */

@media only screen and (max-width: 414px) {
    
    .inline-block {
        padding-left: 20px;
    }
    
    .inline-block a {
        font-size: 11px;
    }
    
    .logo {
        padding: 20px 60px;
        margin-left: -100px;
    }
    
    .logo img {
        margin-left: 60px;
    }
    
/* Hero */

.heroBg {
    background-position-y: 50px;
    height: 350px;
}

/* Left Cards */

    .ltCard {
        height: 235px;
        margin-top: -55px;    
    }

    .ltcard-img-top {
        width: 50%;
    }

    .lt-card-title {
        margin-left: 0px;
        text-align: center;
    }

    .lt-card-text {
        margin-left: 0px;
        text-align: center;
    }

    .leftCard {
        height: 240px;
        margin-top: -55px;
    }

/* Right Cards */

    .rtCard {
        height: 235px;
        margin-top: 50px;
    }

    .rtcard-img-top {
        width: 52%;
        margin-left: -20px;
    }

    .rt-img-top {
        width: 64.5%;
    }

    .rt-card-title {
        margin-left: -15px;
        text-align: center;
    }

    .rt-card-text {
        text-align: center;
    }

    .rightCard {
        height: 230px;
        margin-top: 50px;
    }

    .right-img-top {
        width: 50%;
    }

    .right-card-title {
        margin-left: 0px;
        text-align: center;
    }

    .right-card-text {
        margin-left: 0px;
        text-align: center;
    }
    
/* Footer */
    
    footer {
        background-color: #4E313F;
        height: 350px;
        background-size: cover;
        width: 100%;
        position: static;
    }
    
    .footerLogo {
        padding-left: 20px;
        padding-top: 35px;
    
    }
    
    .footerLogo img {
        height: 100px;
    }
    
    .connect {
        padding-top: 15px;
        margin-left: 0px;
        padding-left: 45px;
    }

      .contact img {
        padding-top: 30px;
    }
    
    .copyright  {
        padding-left: 28px;
        padding-top: 60px;
    }
}

@media only screen and (max-width: 375px) {
    
    .inline-block {
        padding-left: 20px;
    }
    
    .inline-block a {
        font-size: 11px;
    }
    
    .logo {
        padding: 20px 60px;
        margin-left: -100px;
    }
    
    .logo img {
        margin-left: 60px;
    }

    /* Footer */

footer {
    background-color: #4E313F;
    height: 350px;
    background-size: cover;
    width: 100%;
    position: static;
}

.footerLogo {
    padding-left: 5px;
    padding-top: 35px;
    padding-right: 0;
    float: none;
}

.footerLogo img {
    height: 100px;
}

.connect {
    padding-top: 10px;
    margin-left: 0px;
    padding-left: 25px;
}

  .contact img {
    padding-top: 35px;
}

.copyright  {
    padding-left: 0px;
    padding-top: 45px;
}
}
/* 320 */

@media only screen and (max-width: 320px) {

.inline-block {
    padding-left: 0px;
    margin-left: -80px;
}

.inline-block a {
    font-size: 11px;
}

.logo {
    padding: 20px 60px;
    margin-left: -100px;
}

.logo img {
    margin-left: 60px;
}

/* Hero */    
       
.hero {
    background-position-y: 70px;
    height: 255px;
}

/* Footer */

footer {
    background-color: #4E313F;
    height: 350px;
    background-size: cover;
    width: 100%;
    position: static;
}

.footerLogo {
    margin-left: -15px;
    padding-top: 35px;
    padding-right: 0;
    float: none;
}

.footerLogo img {
    height: 90px;
}

.connect {
    padding-top: 10px;
    margin-left: 0px;
    padding-left: 95px;
    
}

  .contact img {
    padding-top: 15px;
    margin-left: 40px;
}

.copyright  {
    margin-left: -20px;
    padding-top: 5px;
}

}

/* 320 */

@media only screen and (max-width: 320px) {

    .inline-block {
        padding-left: 0px;
        margin-left: -80px;
    }
    
    .inline-block a {
        font-size: 11px;
    }
    
    .logo {
        padding: 20px 60px;
        margin-left: -100px;
    }
    
    .logo img {
        margin-left: 60px;
    }
    
    /* Hero */    
           
    .heroBg {
        background-position-y: 50px;
        height: 300px;
    }
    
    /* Footer */
    
    footer {
        background-color: #4E313F;
        height: 350px;
        background-size: cover;
        width: 100%;
        position: static;
    }
    
    .footerLogo {
        margin-left: -15px;
        padding-top: 35px;
        padding-right: 0;
        float: none;
    }
    
    .footerLogo img {
        height: 90px;
    }
    
    .connect {
        padding-top: 10px;
        margin-left: 0px;
        padding-left: 95px;
        
    }
    
      .contact img {
        padding-top: 15px;
        margin-left: 40px;
    }
    
    .copyright  {
        margin-left: -20px;
        padding-top: 5px;
    }
    
    }